@font-face {
	font-family: ebgaramond-r;
	src: url('LibreBaskerville-Regular.ttf');
}
body {
	font-family: ebgaramond-r;
	font-size: 21pt;
	line-height: 24pt;
	width: 90%;
	margin: auto;
	background-color: white;
}
span:hover {
	cursor: pointer;
}
