@font-face {
	font-family: ebgaramond-r;
	src: url('LibreBaskerville-Regular.ttf');
}
body {
	font-family: ebgaramond-r;
	font-size: 14pt;
	line-height: 18pt;
	width: 500px;
	margin: 25px;
	background-color: white;
}
span:hover {
	cursor: pointer;
}
